@model List<Data.Entities.Product>

<div class="text-center">
    <h1 class="display-4">Product Catalog</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@* Razor Syntax: @{...C# code...} @if @for *@
<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var p in Model)
    {
        <div class="col">
            <div class="card h-100 product-card">
                <img src="@(p.ImageUrl ?? "https://cdn.shopify.com/s/files/1/0070/7032/files/image5_4578a9e6-2eff-4a5a-8d8c-9292252ec848.jpg?v=1620247043")" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title">@p.Name</h5>
                    <p class="card-text">@(p.Category?.Name ?? "no data") <span class="badge bg-primary">@p.Price$</span></p>
                    <a href="#" class="btn btn-outline-success">Add to Cart</a>
                </div>
            </div>
        </div>
    }
</div>